{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript" src="../static/scripts/create_cards.js"></script>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pepezineo</h1>
  </div>
</div>
<div class="container">
  <form class="form-inline" action="/insert-cards-into-db" method="post"> {% csrf_token %}
    <div id="new_card_inputs" class="go-away">
      <fieldset id="card0" class="go-away">
        <legend> Card 1 </legend>
        <div class="form-group">
          <label for="name"> Name: </label> 
          <input type="text" name="name0" class="form-control">
        </div>
        <div class="form-group">
          <label for="type"> Type: </label> 
          <input type="radio" name="type0" value="common" checked> Common
          <input type="radio" name="type0" value="rare"> Rare
          <input type="radio" name="type0" value="epic"> Epic
          <input type="radio" name="type0" value="legendary"> Legendary
        </div>
        <div class="form-group">
          <label for="elixir"> Elixir: </label> 
          <select name="elixir0" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
        <div class="form-group">
          <label for="arena"> Arena: </label> 
          <select name="arena0" class="form-control">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </fieldset>
    </div>
    <div class="btn-group">
      <button type="button" onclick="pepezineo.create_cards.add_new_card_input()" class="btn btn-default"> <spam class="glyphicon glyphicon-plus"/> </button>
      <button type="submit" class="btn btn-success"> Submit </button>
    </div>
  </form>
</div>
{% endblock %}
