{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pepezineo</h1>
  </div>
</div>
<div class="container">
  {% if my_card_list %}
  	<h1> You have cards! </h1>
  	<table class="table-striped">
      <thead>
        <tr class="row">
          <th class="col-xs-6"> Card </td>
          <th class="col-xs-3"> Level </td>
          <th class="col-xs-3"> Quantity </td>
        </tr>
      </thead>
      <tbody>
      	{% for card in my_card_list %}
          <tr class="row">
            <td class="col-xs-6">{{ card.card.name }}</td>
            <td class="col-xs-3">{{ card.level }}</td>
            <td class="col-xs-3">{{ card.quantity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1> You don't have any card :( </h1>
  {% endif %}
</div>
{% endblock %}
