{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript" src="../static/scripts/update_card.js"></script>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pepezineo</h1>
  </div>
</div>
<div class="container">
  {% if my_card_list %}
  	<h1> You have cards! </h1>
  	<table class="table-striped">
      <thead>
        <tr class="row">
          <th class="col-xs-6"> Card </th>
          <th class="col-xs-2"> Level </th>
          <th class="col-xs-3"> Quantity </th>
          <th class "col-xs-1"> Upgrade </th>
        </tr>
      </thead>
      <tbody>
      	{% for card in my_card_list %}
          <tr class="row">
            <td class="col-xs-6 text-left">{{ card.card.name }}</td>
            <td class="col-xs-2 text-right">{{ card.level }}</td>
            <td class="col-xs-3 text-right">{{ card.quantity }}</td>
            <td class "col-xs-1"> 
              <div class="text-center"> 
                <form action="/upgrade-card" method="post"> {% csrf_token %}
                  <button type="submit" class="btn-sm btn-default btn-image glyphicon glyphicon-plus" name="card" value={{ card.card.name }}></button>
                </form> 
              </div> 
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1> You don't have any card :( </h1>
  {% endif %}
</div>
{% endblock %}
