{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript" src="../static/scripts/setup.js"></script>
<script type="text/javascript" src="../static/scripts/buy_cards.js"></script>
<script type="text/javascript" src="../static/scripts/donate_cards.js"></script>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pepezineo</h1>
  </div>
</div>
<div class="container">
  {% if my_card_list %}
  	<h1> You have cards! </h1>
  	<table class="table-striped">
      <thead>
        <tr class="row">
          <th class="col-xs-5"> Card </th>
          <th class="col-xs-2"> Level </th>
          <th class="col-xs-2"> Quantity </th>
          <th class="col-xs-1"> Upgrade </th>
          <th class="col-xs-1"> Buy </th>
          <th class="col-xs-1"> Donate </th>
        </tr>
      </thead>
      <tbody>
      	{% for card in my_card_list %}
          <tr class="row">
            <td class="col-xs-5 text-left">{{ card.card.name }}</td>
            <td class="col-xs-2 text-right" id="{{ card.card.name }}-level">{{ card.level }}</td>
            <td class="col-xs-2 text-right" id="{{ card.card.name }}-quantity">{{ card.quantity }}</td>
            <td class="col-xs-1"> 
              <div class="text-center"> 
                <form action="/upgrade-card" method="post"> {% csrf_token %}
                  <button type="submit" class="btn-sm btn-default btn-image glyphicon glyphicon-plus" name="card" value={{ card.card.name }}></button>
                </form> 
              </div> 
            </td>
            <td class="col-xs-1"> 
              <div class="text-center"> {% csrf_token %}
                <input type="number" class="buy-card-input form-control" data-card={{ card.card.name }} min="0">
              </div>
            </td>
            <td class="col-xs-1"> 
              <div class="text-center"> {% csrf_token %}
                <input type="number" class="donate-card-input form-control" data-card={{ card.card.name }} min="0" max="{{ card.quantity }}">
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1> You don't have any card :( </h1>
  {% endif %}
</div>
{% endblock %}
